<footer class="site-footer">

  <div class="footer-logos">
    <img src="images/logo-comunidad.jpeg" alt="Comunidad Católica">
    <img src="images/logo-jma.png" alt="Jesús y María en Acción">
  </div>

  <p><strong>Jesús y María en Acción</strong></p>
  <p>"Amar es Servir"</p>
  <p>Hamburgo, Alemania</p>

  <p class="footer-email">
    📧
    <a href="mailto:info@jesusymariaenaccion.de">
      info@jesusymariaenaccion.de
    </a>
  </p>

  <div class="social-links">
    <a href="https://www.facebook.com/jesusymariaenaccion/" target="_blank">
      <img src="images/facebook.png" alt="Facebook">
    </a>

    <a href="https://www.instagram.com/jesusymariaenaccion/" target="_blank">
      <img src="images/instagram.png" alt="Instagram">
    </a>
  </div>

  <div class="footer-menu">
    <a href="index.html">Inicio</a>
    <span>•</span>

    <a href="nosotros.html">Nosotros</a>
    <span>•</span>

    <a href="mision-vision.html">Misión y Visión</a>
    <span>•</span>

    <a href="programas.html">Programas</a>
    <span>•</span>

    <a href="galeria.html">Galería</a>
    <span>•</span>

    <a href="como-ayudar.html">Cómo Ayudar</a>
    <span>•</span>

    <a href="eventos.html">Eventos</a>
    <span>•</span>

    <a href="contacto.html">Contacto</a>
</div>

  <p class="footer-credit">
    Creado por Freddy Flores
  </p>

</footer>
