<aside class="sidebar">
  <img src="images/logo-jma.png" alt="Logo Jesús y María en Acción" class="sidebar-logo" />

  <h2>Jesús y María en Acción</h2>
  <p class="lema">“Amar es Servir”</p>

  <div class="sidebar-links">
    <a href="contacto.html">Necesito ayuda</a>
    <a href="como-ayudar.html">Quiero colaborar</a>
    <a href="programas.html">Nuestros programas</a>
    <a href="noticias.html">Noticias</a>
  </div>
  <div class="sidebar-impact">
  <h3>Nuestro propósito</h3>
  <p>Siguiendo a Jesús y de la mano de María, servimos con amor 
    y misericordia a quienes más lo necesitan.</p>
</div>

<div class="sidebar-impact">
  <h3>Valores</h3>
  <p>Fe · Servicio · Solidaridad · Unión · Humildad</p>
</div>
<div class="side-card programacion-card">
    <h3>Programación Mensual</h3>
    <p><strong>Junio 2026</strong></p>

    <a href="files/actividades-de-junio-2026.pdf" target="_blank">
        <img
            src="images/programacion-1.png"
            alt="Programación Junio 2026"
            class="programacion-img"
        >
    </a>

    <p>
        Consulta todas las actividades de la Comunidad Católica de Hamburgo para el mes de junio.
    </p>

    <a
        href="files/actividades-de-junio-2026.pdf"
        target="_blank"
        class="download-btn"
    >
        📄 Descargar PDF
    </a>
</div>
</aside>